<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<div class ="row">

        <div class="col-md-10">

            <table class="table ">
                <tr>
                    <th>Username</th>
                    <th>query</th>
                    <th>status</th>
                </tr>
                {% for i in total%}
                <tr>
                    <td>{{i.username}}</td>
                    <td>{{i.Query}}</td>
                    <td><a href="update/{{ i.pk }}"> {{i.status}} </a></td>
                </tr>
                {% endfor %}
            </table>

            </div>
    <div class="col-md-2">
        <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
    </div>
    </div>
</body>
</html>