<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<div class ="row">
            <div class="col-md-6">
        <form action="" method="POST">
            {% csrf_token %}
            {{aform}}
            <input type="submit" value="update status">
        </form>
            </div>

        <div class="col-md-6">

            <table class="table ">
                <tr>
                    <th>query</th>
                    <th>status</th>
                </tr>
                {% for i in total%}
                <tr>
                    <td>{{i.query}}</td>
                    <td>{{i.status}}</td>
                </tr>
                {% endfor %}
            </table>

            </div>
    </div>
</body>
</html>