<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<div class="row">
    <div class="col-md-6">
            <form action="" method="POST">
                {% csrf_token %}
                {{tform}}
                <input type="submit">
            </form>
        </div>

    <div class="col-md-6">
            {% for i in statu%}
                {% ifequal i.query details%}
                    <table class="table">
                        <tr>
                            <th>query</th>
                            <th>status</th>
                        </tr>
                        <tr>
                            <td>{{details}}</td>
                            <td>{{i.status}}</td>
                        </tr>
                    </table>
                {% endifequal %}
            {% endfor %}
    </div>
    </div>
</body>
</html>